<%- include('bootheader') -%>
<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Nicole Meng</h1>
        <p>Bio and Fact sheet</p>
    </div>


<div class = "row">
  <div class = "col text-danger">
    <p> I am a rising junior at Brandeis University triple majoring in
      Computer Science, Applied Math, and Economics.
    </p>
    <p>I am currently working
      in a machine learning lab and I am also an international orientation
      leader this year!
    </p>
    </div>
  <div class = "col">
    <p>Here are some places I have lived!</p>
    <ul>
      <li>China</li>
      <li>Singapore</li>
      <li>Australia</li>
      <li>United States</li>
  </div>
  <div class = "col">
    <img width = "400" src = "/images/nicolemeng.jpeg">
  </div>
</div>

 <!--
  also add a list and some links
  to your bio,
  and maybe a table ...
-->


<%- include('bootfooter') -%>
