<%- include('bootheader') -%>
<%- include('menubar') -%>
<br><br>
<html>
<head>
<style>
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: SlateBlue;
  color: white;
}

input[type=submit] {
  width: 50;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
</style>
</head>
<body>
    <div class="jumbotron">
        <h1>Welcome to your own class list!</h1>
        <p>You can list all of the classes you are interested in below</p>
        <p> If you are not sure about a class, ask your academic advisor!</p>
    </div>
    <form method="post" action="/getClasses">
        Enter your class of interest here!:  <input type="text" name="classes">
        <input type="submit" value="ADD"><br>
    </form>
    <hr>
</body>
</html>





<%- include('bootfooter') -%>
