<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1 style="font-family:'Georgia'">Brandeis Visual Orientation</h1>
        <p style="font-family:'Georgia' font-size:30px" >Demonstrating useful offices and knowledges to incoming freshmen!!</p>
    </div>
    <a href="http://www.brandeis.edu">Brandeis website</a>
    <br>
    <br>
    <img width = "550" src = "/images/brandeis.jpg"





<%- include('bootfooter') -%>
