<%- include('bootheader') -%>
<html>
<head>
<style>
h1 {
  text-shadow: 2px 2px 5px green;
}
body {
  background-color: lightblue;
}
</style>
</head>
<body>
<br>
    <div class="jumbotron">
      <h1>Login to the Brandeis orientation app!
        <a class="btn btn-danger" href="/auth/google">
          <span class="fa fa-google-plus"> Google</span>
        </a>
      </h1>
      <p style="font-size:20px"> Please login to maximize your user experience and view your planner! </p>
    </div>
</body>
<html>
<%- include('bootfooter') -%>
