<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Here is the recipes you want to learn!</h1>
        <p>Learn to cook for yourself using kitchens in your dorm!</p>
        <p> If you don't know where your kitchens are, ask a CA!</p>
    </div>
    <form method = "post" action = "/getRecipes">
      What would you like to learn to cook in your dorm?
      <input type = "text" size = "20"><br><br>
      <input type = "submit" value = "Learn now!">
    </form>





<%- include('bootfooter') -%>
